.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  box-sizing: border-box;
  min-height: 65vh;
}

.add-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  margin-top: 3rem;
  font-size: 2rem;
}

.phone-form {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.maker-div {
  margin-top: 10rem;
}

.maker-select {
  margin-left: 2rem;
  border-radius: 6px;
  height: 3rem;
  width: 20rem;
  padding-left: 2rem;
  background-color: white;
  color: #00acb0;
}

.phone-label {
  font-family: var(--font);
  font-size: 2rem;
  margin-left: 5rem;
}

.add-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease;
  color: white;
  border: 3px solid #00acb0;
  font-family: var(--font);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  background-color: #00acb0;
  padding: 12px;
  outline: none;
  border-radius: 5px;
}

.add-btn:hover {
  color: grey;
  background-color: white;
}

@media screen and (min-width: 600px) {
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 12.5rem;
    gap: 1rem;
    width: 100%;
    max-width: 60rem;
    margin: auto;
    box-sizing: border-box;
  }

  .add-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    margin-top: 3rem;
    font-size: 2rem;
  }

  .phone-form {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .maker-div {
    margin-top: 10rem;
  }

  .maker-select {
    margin-left: 2rem;
    border-radius: 6px;
    height: 3rem;
    width: 26rem;
    padding-left: 2rem;
    background-color: white;
    color: #00acb0;
  }

  .phone-label {
    font-family: var(--font);
    font-size: 2rem;
    margin-left: 5rem;
  }

  .add-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease;
    color: white;
    border: 3px solid #00acb0;
    font-family: var(--font);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    background-color: #00acb0;
    padding: 12px;
    outline: none;
    border-radius: 5px;
  }

  .add-btn:hover {
    color: grey;
    background-color: white;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    position: relative;
    right: 13rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 12.5rem;
    gap: 1rem;
    width: 100%;
    max-width: 60rem;
    margin: auto;
    box-sizing: border-box;
    p {
      position: relative;
      top: 20rem;
      font-size: 2rem;
      font-family: var(--font);
    }
    .form-container {
      position: relative;
      top: 25rem;
    }
  }

  .add-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    margin-top: 3rem;
    font-size: 3rem;
  }

  .phone-form {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .maker-div {
    margin-top: 10rem;
  }

  .maker-select {
    margin-left: 2rem;
    border-radius: 6px;
    height: 3rem;
    width: 30rem;
    padding-left: 2rem;
    background-color: white;
    color: #00acb0;
  }

  .phone-label {
    font-family: var(--font);
    font-size: 2rem;
    margin-left: 5rem;
  }

  .add-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease;
    color: white;
    border: 3px solid #00acb0;
    font-family: var(--font);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    background-color: #00acb0;
    padding: 12px;
    outline: none;
    border-radius: 5px;
  }

  .add-btn:hover {
    color: grey;
    background-color: white;
  }
}
