.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  text-align: center;
  justify-content: center;
  width: 300px;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardlist {
  display: flex;
  gap: 1rem;
}

.card .card-header {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.card-body li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.btn-info-card {
  margin-bottom: 1.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-info-card:hover {
  background-color: #0056b3;
}
