.home-text {
  position: relative;
}
.text-on-image {
  position: absolute;
  right: 10%;
  left: 20%;
  bottom: 90%;
}

h3 {
  color: white;
  font-family: "PermanentMarker-Regular.ttf";
  font-size: 6rem;
}
