.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  font-family: var(--font);
  background: url("@assets/bg404.jpg") no-repeat 80%;
}
.cup {
  position: relative;
  display: flex;
  width: 220px;
  height: 180px;
  border: 8px solid #ffefdb;
  box-shadow: 0 0 0 12px #352a22;
  border-radius: 10px 10px 60px 75px;
  background: white url("@assets/coffee.png");
  background-repeat: repeat-x;
  background-position: 0 130px;
  animation: filling 8s infinite;
}

@keyframes filling {
  0%,
  100% {
    background-position: 0 130px;
  }

  50% {
    background-position: 600px -70px;
  }
}

.cup-handle {
  position: absolute;
  top: 10px;
  right: -98px;
  width: 65px;
  height: 120px;
  border: 12px solid #352a22;
  border-radius: 20px 10px 50px 20px;
}

.steam {
  position: absolute;
  border-radius: 10px 2px;
  width: 8px;
  animation: steaming 2s infinite;
}

@keyframes steaming {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    filter: blur(0.8px);
    transform: translateY(-10px);
  }
}

.steam:nth-child(1) {
  top: -70px;
  left: 65px;
  height: 30px;
  background: #8e5a3423;
  animation-delay: 0.2s;
}

.steam:nth-child(2) {
  top: -120px;
  left: 95px;
  height: 50px;
  background: #8e5a3454;
  animation-delay: 0.6s;
}

.steam:nth-child(3) {
  top: -90px;
  left: 125px;
  height: 40px;
  background: #8e5a3433;
  animation-delay: 1s;
}

.logo404 {
  position: relative;
  left: 20rem;
  width: 50rem;
}
